html {
  font-family: "Roboto", sans-serif;
}

body {
  text-align: center;
  background-color: #e4f9f5;
  padding: 0 16px;
}

h1 {
  font-weight: 400;
  font-size: 5rem;
  color: #30e3ca;
  opacity: 0.5;
  margin-bottom: 0;
}

.container-fluid {
  padding: 7% 15%;
}

.copyright {
  font-size: small;
  color: grey;
  opacity: 0.5;
}

.tasks {
  padding: 0 35%;
}

/* footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
} */
